.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  grid-gap: 40px; /* Space between both rows and columns */
  max-width: 1125px; /* Maximum width of the grid */
  margin: auto; /* Center the grid horizontally */
}

.product-item {
  flex-basis: calc(50% - 40px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 14px;
  margin-bottom: 15px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}
