<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Page Title -->
    <title>Reset Password</title>
</head>

<body style="background-color: #FFFDFC;">

    <!-- Header -->
    <%- include('../partials/header') %>

    <!-- Main Content -->
    <div class="card">
        <h2 class="text-center mb-4">RESET YOUR PASSWORD</h2>
        <form action="/login" method="POST">
            <!-- Email Input -->
            <div class="form-group">
                <input type="email" class="form-control" name="customer_Email" placeholder="Email" required>
            </div>
        </form>
    </div>

    <!-- External Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Footer -->
    <%- include('../partials/footer') %>

</body>

</html>
